/*  browse.php */

h1.accueil {
  color: green;
  text-align: center;
  font-weight: bold;
}


 p.accueil {
   margin-left: 200px;
   margin-right: 200px;
   color:green;
 }

a.club {
  color: black;
  margin-left: 30px;
}


button {
  color: red;
  margin-left: 40px;
}

ul {
  margin-left: 20px;
}

.zeubi {
  margin-left: 900px;
}

nav.abcd {
  margin-left: 20px;
}

h3.region {
margin-left: 50px;
color: red;
}


/* read.php */

h1.read {
  text-align: center;
  color: red;
}

p {
  margin-left: 40px;
  color: yellow;
}

/* login.php */

h1.login {
  color: red;

}
